body {
  background-color: black;
}

#poemaVertical {
  display: flex;

  align-items: center;
  margin: 50px 10px;
  width: 100%;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: justify;
  font-size: larger;
}

p {
  color: white;
}

h4 {
  color: white;
  text-align: center;
}

#sangue {
  color: #bb0a1e;
}

#meiaNoite {
  color: midnightblue;
}

#fantasmas {
  font-family: "Nosifer", cursive;
  font-size: 12px;
}

#cosmos {
  color: violet;
}

.poemaFim {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

#poemaCarta {
  font-family: "Vujahday Script", cursive;
  font-size: 18px;
}

#assinatura {
  text-align: left;
}

#fim {
  color: rgba(255, 254, 254, 0.068);
}

#houseOfMadness {
  width: 800px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#franBrowCat {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#poema3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
